body {
    background-color: powderblue;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image_root {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
}

/* #image_container_1 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image_container_2 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image_container_3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
  
p {
    text-align: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  



.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 20%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    text-align: center;
  }
  
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  